.platformIcon {
  height: 35px;
  width: 35px;
  background-color: rgb(0, 255, 195);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.platformIcon .platformStatus {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -9px;
  right: -9px;
  font-size: 0.8rem;
  line-height: 1.1;
}

.platformIcon img {
  width: 20px;
}

.platformIcon:hover img {
  animation: bounce 0.7s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.background-cover-center {
  background-size: cover;
  background-position: center center;
}