.h-vh-5 {
  max-height:5vh;
}

.mt-n1 {
  margin-top: -0.25rem !important;
}
.mt-n3 {
  margin-top: -1rem !important;
}
.mt-n5 {
  margin-top: -5rem !important;
}

.triangle-up {
  border-left: 100vw transparent solid;
  border-bottom: 10vw white solid;
}